/*body*/
.edit{
    margin:0;
    background:#eef7fb;
    font-family:"Yu Gothic",sans-serif;
}

.edit .form-card{

    width: 900px;
    max-width: 90%;

    margin: 50px auto;

    background: white;

    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,.15);
    padding: 40px;
}

/*入力エリア*/
.edit .form-area{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 50px;
}

/*input*/
.edit input[type="text"],
.edit input[type="date"],
.edit input[type="time"]{

    border:1px solid #ccc;

    border-radius:8px;
    padding:8px;

    font-size:16px;
}

.edit input:focus{

    outline:none;

    border-color:#142c8b;

    box-shadow:0 0 5px rgba(69, 159, 177, 0.785);

}

/*h1タグ*/
.edit h1{
    text-align: center;
}

/*left-area------------------*/
.edit .left-area,
.edit .right-area{

    flex:1;
}

/*薬名入力エリア*/
.edit #medicine-name{
    width: 300px;
    height: 40px;
}

/*服用量入力エリア, 単位入力*/
.edit .medicine-input-area{
    margin-top: 40px;
    display: flex;
    gap: 10px;
}

/*服用量のテキストエリア*/
.edit #medicine-volume{
    width: 100px;
}

/*単位の入力エリア*/
.edit #unit{
    width: 80px;
}

/*期間入力エリア*/
.edit .data-area{
    margin-top: 40px;

    display: flex;
    justify-content: left;
    gap: 10px;
    flex-direction: column;
}


.edit .startday,
.edit .finishday {
    display: flex;
    flex-direction: column;
}

/*right-area-------------------*/

/*曜日チェックボックス*/
.edit .week-area{

    display:grid;

    grid-template-columns:1fr 1fr;
    gap:12px 30px;
}


.edit .week-area label{
    font-size: 22px;
    white-space: nowrap;
}

.edit .week-area input[type="checkbox"] {
    transform: scale(1.3);
    margin-right: 8px;
}

/*時間入力*/
.edit .time{

    display:flex;
    align-items:center;

    margin-top:30px;
    gap:15px;
}

.edit .time label{
    font-size: 20px;
}

.edit .time #time-area{
    width: 70px;
    height: 30px;
}

/*ボタンエリア*/
/*更新、削除ボタンエリア*/
/* 更新・削除ボタンを横並び */
.update-btn-area,
.delete-btn-area{
    display: inline-block;
    margin: 40px 10px;
}

/* 2つのボタンを中央に寄せる */
.form-card{
    text-align: center;
}

.edit button{

    width:220px;
    height:50px;

    border:none;
    border-radius:10px;

    background:#4CAF50;
    color:white;

    font-size:18px;

    cursor:pointer;
    transition:.2s;
}


/* formタグが横幅いっぱいになるのを防ぐ */
.form-card form{
    display: inline-block;
}

/* 一覧へ戻るボタンは下に配置 */
.list-btn-area{
    margin-top: 20px;
}

/* ボタンサイズを揃える */
.update-btn,
.delete-btn,
.list-btn-area button{
    width: 180px;
    height: 50px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}
