/*home.html*/


/*top-area------------------------*/
.top-area{
    position: relative;
    height: 80px;
}


/*h1タグ*/
.home .top-area h1{
    text-align: center;
    margin: 0;
    line-height: 80px;
}

/*ログイン画面ボタンテキスト*/
.home .login-Btn .text {
    position: absolute;
    right: 5%;
    top: 30%;
    transform: translateY(-50%);
    
    min-width: 80px;
    max-width: 250px;

    min-height: 30px;
    max-height: 80px;

    font-size: 10px;
}

/*ログイン画面ボタン*/
.home .login-Btn .Btn{
    position: absolute;
    right: 5%;
    top: 70%;
    transform: translateY(-50%);

    min-width: 80px;
    max-width: 250px;

    min-height: 30px;
    max-height: 80px;

    font-size: 15px;
}

/*top-area終わり*/



/*線*/
.home .line{
    width: 90%;
    max-width: none;
    min-width: 100px;
    height: 2px;
    background: black;
    margin: 0px auto;
}

/*main-area------------------------*/

.main-area{
    display:flex;
    gap:30px;
    width:90%;
    margin:30px auto;
}

/*left-area----------------*/

.home .left-area{
    width:260px;
    background:#ffffff;
    border-radius:15px;
    box-shadow:0 4px 12px rgba(0,0,0,.15);
    padding:20px;
}

.add-Btn,
.list-Btn,
.history-Btn{

    border:1px solid #ddd;
    border-radius:10px;

    padding:10px;
    margin-bottom:10px;
    text-align:center;

    background:#fafafa;
}

/*薬登録ボタンテキスト*/
.home .add-Btn .text {
    font-size: 17px;
}

/*薬登録ボタン*/
.home .add-Btn .Btn {
    width: 150px;
    height: 50px;
    font-size: 20px;
}

/*服用履歴ボタンテキスト*/
.home .history-Btn .text {
    font-size: 17px;
}

/*服用履歴ボタン*/
.home .history-Btn .Btn {
    width: 150px;
    height: 50px;
    font-size: 20px;
}

/*薬一覧ボタンテキスト*/
.home .list-Btn .text {
    font-size: 17px;
}

/*薬一覧ボタン*/
.home .list-Btn .Btn {
    width: 150px;
    height: 50px;
    font-size: 20px;
}

.home .Btn{

    width:170px;
    height:45px;

    border:none;
    border-radius:8px;

    background:#4CAF50;
    color:white;

    font-size:16px;

    cursor:pointer;
    transition:.2s;
}

.Btn:hover{

    background:#43a047;

    transform:translateY(-2px);
}

/*left-area終わり*/

/*right-area--------------*/
.home .right-area{

    width: 70%;

    flex:1;

    background:white;

    border-radius:15px;
    box-shadow:0 4px 12px rgba(0,0,0,.15);
    padding:20px;
}

/*table-box---------------*/

/*リスト*/
.home .table-box{

    width:100%;
    height:400px;

    overflow:auto;

    border-radius:10px;
}

.home table {
    padding: 10px;
    border-bottom: 1px solid #ccc;

    width: 100%;
    border-collapse: collapse;

    white-space: nowrap;
}

.home th,td {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

.home th{

    background:#4CAF50;
    color:white;

    position:sticky;

    top:0;
}

.home .weekday-area label{
    margin-right: 5px;
}
/*table-area終わり*/

.home .notification-btn-area .btn{
    height: 40px;
    width: 90px;
}
/*right-area終わり*/
/*bottom-area終わり*/