.list .table-box {
    width: 60%;
    height: 150px;

    margin-top: 10px auto;
    overflow: auto;  /*縦横スクロール*/
    border: 2px solid black;
}

.list table {
    border-bottom: 1px solid black;

    width: 100%;
    border-collapse: collapse;

    white-space: nowrap;

}

.list th,td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.list th {
    background-color: #f0f0f0;
}

/*moveAddBtn*/
.list #moveAddBtn{
    margin-top: 10px;
}