    
/*login.html*/
/*フッダー*/
.login{

    margin:0;

    background:#eef7fb;

    font-family:"Yu Gothic",sans-serif;
}

.login .login-card{

    width:450px;
    max-width:90%;
    margin:80px auto;

    background:white;

    border-radius:15px;
    box-shadow:0 4px 12px rgba(0,0,0,.15);
    padding:40px;
}

.login h2{

    text-align:center;

    margin-bottom:35px;
}

/*inputタグ*/
.login input{

    width:100%;
    height:45px;
    padding:0 12px;

    border:1px solid #ccc;
    border-radius:8px;
    box-sizing:border-box;

    font-size:16px;
}

.login input:focus{

    outline:none;

    border-color:#142c8b;

    box-shadow:0 0 5px rgba(69, 159, 177, 0.785);
}

/*emailエリア passwordエリア*/
.login .email-area,
.login .password-area{
    width: 60%;
    max-width: 500px;
    margin: 0 auto;

    margin-bottom:25px;
}

/*emailエリア*/
.login .email-area label{
    display: block;
    text-align: left;
}

.login #email{
    width: 100%;
    height: 40px;
    font-size: 18px;
    box-sizing: border-box;
}

/*passwordエリア*/
.login .password-area label{
    display: block;
    text-align: left;
}

/*passwordエリア,確認用エリアの欄*/
.login #password{
    width: 100%;
    height: 40px;
    font-size: 18px;
    box-sizing: border-box;
}

/*ボタン*/
.login .sendBtn-area{
    display: flex;
    justify-content: center;
    
}

.login #sendBtn{

    width:30%;
    height:50px;

    border:none;
    border-radius:8px;

    background:#4CAF50;
    color:white;

    font-size:18px;

    cursor:pointer;
    transition:.2s;
}

.login #sendBtn:hover{

    background:#43a047;

    transform:translateY(-2px);
}