<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>登録情報編集</title>

        <link rel="stylesheet" th:href="@{/css/edit.css}"><!--th:href="@{/css/edit.css}"-->
    </head>


    <body class="edit">

        <form th:action="@{/edit}" method="post" th:object="${medicine}">
            <div class="form-area">
                <div class="left-area">
                    <input type="hidden" th:field="*{id}">
                    <div class="medicine-name-area">
                        <input type="text" th:field="*{name}" id="medicine-name" placeholder="薬名" maxlength="50"></textarea>
                    </div>

                    <div class="medicine-input-area">
                        <input type="text" th:field="*{volume}" id="medicine-volume" placeholder="服用量">
                        <input type="text" th:field="*{unit}" id="unit" placeholder="単位">
                    </div>

                    <div class="data-area">
                        <div class="startday">
                            <label for="date">開始日</label>
                            <input type="date" th:field="*{startDay}" id="date">
                        </div>
                        <div class="finishday">
                            <label for="date">終了日</label>
                            <input type="date" th:field="*{finishDay}" id="date">
                        </div>
                    </div>
                </div>

                <div class="right-area">
                    <div class="week-area">
                        <label>
                            <input type="checkbox" name="week" value="月"
                                th:checked="${#strings.contains(medicine.week, '月')}">
                            月曜日
                        </label>

                        <label>
                            <input type="checkbox" name="week" value="火"
                                th:checked="${#strings.contains(medicine.week, '火')}">
                            火曜日
                        </label>

                        <label>
                            <input type="checkbox" name="week" value="水"
                                th:checked="${#strings.contains(medicine.week, '水')}">
                            水曜日
                        </label>

                        <label>
                            <input type="checkbox" name="week" value="木"
                                th:checked="${#strings.contains(medicine.week, '木')}">
                            木曜日
                        </label>

                        <label>
                            <input type="checkbox" name="week" value="金"
                                th:checked="${#strings.contains(medicine.week, '金')}">
                            金曜日
                        </label>

                        <label>
                            <input type="checkbox" name="week" value="土"
                                th:checked="${#strings.contains(medicine.week, '土')}">
                            土曜日
                        </label>

                        <label>
                            <input type="checkbox" name="week" value="日"
                                th:checked="${#strings.contains(medicine.week, '日')}">
                            日曜日
                        </label>
                    </div>

                    <div class="time">
                        <label>服用時間：</label>
                        <input type="time" th:field="*{time}">
                    </div>
                </div>
            </div>
        </form>

        <div class="btn-area">
            <div class="edit-btn-area">
                <!--更新ボタン-->
                <div class="update-btn-area">
                    <button type="submit" class="update-btn">更新する</button>
                </div>

                <!-- 削除ボタン -->
                <form th:action="@{/delete/{id}(id=${medicine.id})}" method="post">
                    <div class="delete-btn-area">
                        <button type="submit" style="color:red;" class="delete-btn">削除する</button>
                    </div>
                </form>
            </div>
                        
            <div class="list-btn-area">
                <form th:action="@{/list-page}" method="get">
                    <button type="submit">一覧へ戻る</button>
                </form>
            </div>
        </div>                
        


        <!-- 以下、柊弥のオリジナルコード 
        <div class="medicine-name-area">
            <input type="text" id="medicine-name" placeholder="薬"></textarea>
        </div>


        <div class="medicine-input-area">
            <input type="text" id="medicine-volume" placeholder="服用量">
            <input type="text" id="unit" placeholder="単位">
        </div>


        <div class="startday">
            <label for="date">開始日</label>
            <input type="date" id="date">
        </div>


        <div class="finishday">
            <label for="date">終了日</label>
            <input type="date" id="date">
        </div>


        
        <div class="week-area">
            <label>
                <input type="checkbox" name="day" value="月">
                月曜日
            <br></label>
            
            <label>
                <input type="checkbox" name="day" value="火">
                火曜日
            <br></label>

            <label>
                <input type="checkbox" name="day" value="水">
                水曜日
            <br></label>

            <label>
                <input type="checkbox" name="day" value="木">
                木曜日
            <br></label>

            <label>
                <input type="checkbox" name="day" value="金">
                金曜日
            <br></label>

            <label>
                <input type="checkbox" name="day" value="土">
                土曜日
            <br></label>

            <label>
                <input type="checkbox" name="day" value="日">
                日曜日
            <br></label>
        </div>


        <div class="time">
            <label for="time">服用時間</label>
            <input type="time" id="time">
        </div>

        -->

    </body>
</html>