<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>ホーム</title>

        <link rel="stylesheet" th:href="@{/css/home.css}"><!--th:href="@{/css/home.css}"-->
    </head>

    <body class="home">
        <div class="top-area">
            <h1>お薬リマインダー</h1>

            <div class="login-Btn">
                <p class="text" th:text="${medicine.name}"></p>
                <button class="Btn" id="moveLoginBtn">ログイン画面に戻る</button>
            </div>
        </div>

        <div class="line"></div>

        <div class="main-area">
            <div class="left-area">
                <div class="add-Btn">
                    <p class="text">新規薬登録はこちら</p>
                    <button class="Btn" id="moveAddBtn">薬登録画面</button>
                </div>

                <div class="history-Btn">
                    <p class="text">服用履歴はこちら</p>
                    <button class="Btn" id="moveHistoryBtn">服用履歴画面</button>
                </div>

                <div class="list-Btn">
                    <p class="text">薬の一覧はこちら</p>
                    <button class="Btn" id="moveListBtn">薬一覧画面</button>
                </div>
            </div>

            <div class="right-area">
                <div class="table-box">
                    <table>
                        <thead>
                            <tr>
                                <th>薬名</th>
                                <th>通知時間</th>
                                <th>曜日</th>
                                <th>通知 ON/OFF</th>
                                <th>削除</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="notification : ${notificationList}"><!--通知のデータベースからとってくる-->
                                <td>aaa</td>       <!--薬名-->
                                <td>00:00</td>      <!--通知時間-->
                                <td>     <!--曜日チェックボックス-->
                                    <label>
                                        月
                                        <input type="checkbox">
                                    </label>
                                    <label>
                                        火
                                        <input type="checkbox">
                                    </label>
                                    <label>
                                        水
                                        <input type="checkbox">
                                    </label>
                                    <label>
                                        木
                                        <input type="checkbox">
                                    </label>
                                    <label>
                                        金
                                        <input type="checkbox">
                                    </label>
                                    <label>
                                        土
                                        <input type="checkbox">
                                    </label>
                                    <label>
                                        日
                                        <input type="checkbox">
                                    </label>
                                </td>

                                <td>      <!--通知のON/Off-->
                                    <input type="checkbox">
                                </td>

                                <td>      <!--削除ボタン-->
                                    <button type="button">削除</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="notification-btn-area">
                    <button class="btn">通知追加</button>
                </div>
            </div>
        </div>
        <script th:src="@{/js/app.js}"></script>
    </body>
</html>