<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>ログイン</title>

        <link rel="stylesheet" href="../static/css">
    </head>

    <body class="login">
        <h2>ログイン</h2>

        <div class="email-area">
            <label for="email">メールアドレス:</label><br>
            <input type="email" id="email" placeholder="example@example.com">
        </div>

        <br><br>

        <div class="password-area">
            <label for="password">パスワード:</label><br>
            <input type="password" id="password" placeholder="パスワードを入力">
        </div>

        <br><br>

        <button id="sendBtn">送信</button>

        <p>
            <a href="register.html">新規登録はこちら</a>
        </p>


        
    </body>
</html>