/*register.html*/
/*フッダー*/

.region h2{
    text-align: center;
}

/*emailエリア*/
.region .email-area{
    width: 60%;
    max-width: 500px;
    margin: 0 auto;
}

.region .email-area label{
    display: block;
    text-align: left;
}

.region #email{
    width: 100%;
    height: 40px;
    font-size: 18px;
    box-sizing: border-box;
}

/*passwordエリア*/
.region .password-area{
    width: 60%;
    max-width: 500px;
    margin: 0 auto;
}

.region .password-area label{
    display: block;
    text-align: left;
}

/*確認用エリア*/
.region .confirmation-password-area{
    width: 60%;
    max-width: 500px;
    margin: 0 auto;
}

.region .confirmation-password-area label{
    display: block;
    text-align: left;
}

/*passwordエリア,確認用エリアの欄*/
.region #password{
    width: 100%;
    height: 40px;
    font-size: 18px;
    box-sizing: border-box;
}

/*ボタン*/
.region .sendBtn-area{
    display: flex;
    justify-content: center;
    
}

.region .sendBtn{
    height: 50px;
    width: 15vw;
}